.main-content{
	width: 35%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
	box-shadow: 14px 14px 20px #cbced1,-14px -14px 20 px white;
}
.company__info{
	background-color: #51DACF;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
    color: #fff;
    padding-left: 6%;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:darkblue;
}

.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
    border-right:1px solid #ccc;
	box-shadow: 14px 14px 20px #cbced1,-14px -14px 20 px white;
}
form{
    padding: 0 2em;
    width: 100%;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
	box-shadow: 14px 14px 20px skyblue,-14px -14px 20 px white;
}

.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:darkblue;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid darkblue;
	margin-top: 1.5em;
	margin-bottom: 1em;
	margin-left: 2.5em;
}
.btn:hover, .btn:focus{
	background-color: darkblue;
	color:#fff;
}
.tr {
    padding-left: 18%;
    padding-top: 5%;
}
.loginheading{
	font-weight: bold;
	font-style:oblique;
	margin-left: 1.5em;
}
.background2{
	background-color: lightblue;
}